.table-responsive {
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
  }

.table th {
    width: auto !important;
}

.mat {
    color: red;
    border-right: 2px solid #334;
    border-bottom: 2px solid #333;
    padding-right: 80px;
}